In [1]:
import pandas as pd
import numpy as np
import timeit

# The Data Processing

In [2]:
# 数据集处理函数
def data_process(data_set, feature_size):
    total=[]
    dict_1={}
    for i in range(feature_size):
        a=str(i+1)
        dict_1[a]=0.0
    total.append(dict_1)
    for i in range(len(data_set)):
        data_sep=[]
        data_sep.append(data_set[i][0].split(' '))
        data_sep[0] = list(filter(None, data_sep[0]))
        new_dict={}
        new_dict['label']=float(data_sep[0][0])
        for j in range(len(data_sep[0])-1):
            a=[]
            a.append(data_sep[0][j+1].split(':'))
            new_dict[a[0][0]]=float(a[0][1])
        total.append(new_dict)
    df=pd.DataFrame(total).fillna(0.0)
    df=df.drop(index=(df.loc[(df['label']==0.0)].index))
    return df

In [3]:
# 处理训练集
ijcnn1_tr ='ijcnn1.tr'
ijcnn1_tr_file = open(ijcnn1_tr,'r')
lines=ijcnn1_tr_file.readlines()

ijcnn1_tr_data=[]
for line in lines:
    temp1=line.strip('\n')
    temp2=temp1.split('\t')
    ijcnn1_tr_data.append(temp2)


ijcnn1_tr_data_process = data_process(ijcnn1_tr_data, 22)
ijcnn1_tr_data_process

,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,label
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.000270,0.011684,-0.011052,0.024452,0.008337,0.001324,0.025544,-0.040728,-0.000810,-1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.011684,-0.011052,0.024452,0.008337,0.001324,0.025544,-0.040728,-0.000810,-0.003890,-1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.011052,0.024452,0.008337,0.001324,0.025544,-0.040728,-0.000810,-0.003890,0.004604,-1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.024452,0.008337,0.001324,0.025544,-0.040728,-0.000810,-0.003890,0.004604,0.003551,-1.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.008337,0.001324,0.025544,-0.040728,-0.000810,-0.003890,0.004604,0.003551,-0.024589,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34996,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.158102,0.401163,0.308093,-0.378103,0.107345,-0.286444,0.073193,0.107299,0.401498,1.0
34997,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.401163,0.308093,-0.378103,0.107345,-0.286444,0.073193,0.107299,0.401498,-0.122181,-1.0
34998,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.308093,-0.378103,0.107345,-0.286444,0.073193,0.107299,0.401498,-0.122181,-0.245745,-1.0
34999,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.378103,0.107345,-0.286444,0.073193,0.107299,0.401498,-0.122181,-0.245745,0.293809,-1.0
35000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.107345,-0.286444,0.073193,0.107299,0.401498,-0.122181,-0.245745,0.293809,-0.020231,-1.0

In [4]:
type(ijcnn1_tr_data_process['label'][1])

numpy.float64

In [5]:
# 处理测试集
ijcnn1_t ='ijcnn1.t'
ijcnn1_t_file = open(ijcnn1_t,'r')
lines=ijcnn1_t_file.readlines()

ijcnn1_t_data=[]
for line in lines:
    temp1=line.strip('\n')
    temp2=temp1.split('\t')
    ijcnn1_t_data.append(temp2)
ijcnn1_t_data

ijcnn1_t_data_process = data_process(ijcnn1_t_data, 22)
ijcnn1_t_data_process

,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,label
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.000292,-0.020372,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,-1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.020372,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,-1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,0.016210,-1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,0.016210,-0.027162,-1.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,0.016210,-0.027162,0.026788,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91697,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.007002,-0.004879,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,-1.0
91698,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.004879,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,-1.0
91699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,0.010336,-1.0
91700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,0.010336,-0.018924,-1.0
91701,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,0.010336,-0.018924,0.023989,-1.0

In [6]:
type(ijcnn1_t_data_process['label'][1])

numpy.float64

In [7]:
# In the search mission, we dont need the label, So we get a dataset without label
ijcnn1_t_data_process_No_label = ijcnn1_t_data_process.drop('label',axis = 1)
ijcnn1_t_data_process_No_label

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.000000,0.000292,-0.020372,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.000292,-0.020372,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-0.020372,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,0.016210
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,0.016210,-0.027162
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,0.016210,-0.027162,0.026788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91697,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.026388,-0.007002,-0.004879,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167
91698,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.007002,-0.004879,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602
91699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-0.004879,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,0.010336
91700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,0.010336,-0.018924
91701,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,0.010336,-0.018924,0.023989

In [8]:
ijcnn1_t_data_process_No_label.iloc[[0]]

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.000292,-0.020372,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842

# Test for Search speed

### First test for ball-tree

In [9]:
# Now we ues the KNN balltree to test the time for Search
# We use the default parameters
import numpy as np
from sklearn.neighbors import BallTree

# 1.Euclidean  2.leaf_sizepositive:default=40
start=timeit.default_timer()
tree = BallTree(ijcnn1_t_data_process_No_label, leaf_size=2)   
stop=timeit.default_timer()
build_tree_time = stop-start
print("The time cost on build the tree")
print(build_tree_time)

print("Now we start to test a search in this ball-tree")
print("We select the index=2 datapoint , to find its 3 neighbors ")
start=timeit.default_timer()
dist, ind = tree.query(ijcnn1_t_data_process_No_label.iloc[[2]], k=4)
stop=timeit.default_timer()
print("We find the 3 cloest neighbors (the result include the data themself), the index are below ")
print(ind)  # indices of 3 closest neighbors
print("We find the 3 cloest neighbors , the distance are below ")
print(dist)  # distances to 3 closest neighbors
print("The search time cost is that ")
run_time = stop - start
print(run_time)

The time cost on build the tree
0.3486835000003339
Now we start to test a search in this ball-tree
We select the index=2 datapoint , to find its 3 neighbors
We find the 3 cloest neighbors (the result include the data themself), the index are below
[[    2   472    62 36319]]
We find the 3 cloest neighbors , the distance are below
[[0.         0.02159781 0.04564304 0.04682928]]
The search time cost is that
0.004474100000152248

In [10]:
tree = BallTree(ijcnn1_t_data_process_No_label, leaf_size=2) 
every_time = []
for i in range(10000):
    start=timeit.default_timer()
    dist, ind = tree.query(ijcnn1_t_data_process_No_label.iloc[[i]], k=4)
    stop=timeit.default_timer()
    time_cost = stop- start
    every_time.append(time_cost)

In [12]:
run_search_time_balltree = np.mean(every_time)
run_search_time_balltree

0.001957292779999625

### Second test for Kd-tree

In [13]:
# Now we ues the KNN kdtree to test the time for Search
# We use the default parameters
import numpy as np
from sklearn.neighbors import KDTree

# 1.Euclidean  2.leaf_sizepositive:default=40
start=timeit.default_timer()
tree = KDTree(ijcnn1_t_data_process_No_label, leaf_size=2)   
stop=timeit.default_timer()
build_tree_time = stop-start
print("The time cost on build the tree")
print(build_tree_time)

print("Now we start to test a search in this kd-tree")
print("We select the index=2 datapoint , to find its 3 neighbors ")
start=timeit.default_timer()
dist, ind = tree.query(ijcnn1_t_data_process_No_label.iloc[[2]], k=4)
stop=timeit.default_timer()
print("We find the 3 cloest neighbors (the result include the data themself), the index are below ")
print(ind)  # indices of 3 closest neighbors
print("We find the 3 cloest neighbors , the distance are below ")
print(dist)  # distances to 3 closest neighbors
print("The search time cost is that ")
run_time = stop - start
print(run_time)
print("The neighbors of index=2 datapoint are index=[472,62,36319]")

The time cost on build the tree
0.6457046000004993
Now we start to test a search in this kd-tree
We select the index=2 datapoint , to find its 3 neighbors
We find the 3 cloest neighbors (the result include the data themself), the index are below
[[    2   472    62 36319]]
We find the 3 cloest neighbors , the distance are below
[[0.         0.02159781 0.04564304 0.04682928]]
The search time cost is that
0.0036534999999275897
The neighbors of index=2 datapoint are index=[472,62,36319]

In [14]:
tree = KDTree(ijcnn1_t_data_process_No_label, leaf_size=2) 
every_time = []
for i in range(10000):
    start=timeit.default_timer()
    dist, ind = tree.query(ijcnn1_t_data_process_No_label.iloc[[i]], k=4)
    stop=timeit.default_timer()
    time_cost = stop- start
    every_time.append(time_cost)

In [16]:
run_search_time_KDtree = np.mean(every_time)
run_search_time_KDtree

0.0010052098799969826

The search speed of kdtree is fast than balltree

In [18]:
Searchtime = {'run_search_time_KDtree':run_search_time_KDtree,"run_search_time_balltree":run_search_time_balltree}
Searchtime

{'run_search_time_KDtree': 0.0010052098799969826,
 'run_search_time_balltree': 0.001957292779999625}

# Test for classifly

In [19]:
# Now we test the Classifiy on the KNN BallTree

In [20]:
X = ijcnn1_tr_data_process.drop('label',axis=1)
X

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.000270,0.011684,-0.011052,0.024452,0.008337,0.001324,0.025544,-0.040728,-0.000810
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.000270,0.011684,-0.011052,0.024452,0.008337,0.001324,0.025544,-0.040728,-0.000810,-0.003890
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.011684,-0.011052,0.024452,0.008337,0.001324,0.025544,-0.040728,-0.000810,-0.003890,0.004604
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-0.011052,0.024452,0.008337,0.001324,0.025544,-0.040728,-0.000810,-0.003890,0.004604,0.003551
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.024452,0.008337,0.001324,0.025544,-0.040728,-0.000810,-0.003890,0.004604,0.003551,-0.024589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34996,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.052555,-0.158102,0.401163,0.308093,-0.378103,0.107345,-0.286444,0.073193,0.107299,0.401498
34997,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.158102,0.401163,0.308093,-0.378103,0.107345,-0.286444,0.073193,0.107299,0.401498,-0.122181
34998,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.401163,0.308093,-0.378103,0.107345,-0.286444,0.073193,0.107299,0.401498,-0.122181,-0.245745
34999,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.308093,-0.378103,0.107345,-0.286444,0.073193,0.107299,0.401498,-0.122181,-0.245745,0.293809
35000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.378103,0.107345,-0.286444,0.073193,0.107299,0.401498,-0.122181,-0.245745,0.293809,-0.020231

In [21]:
Y = ijcnn1_tr_data_process['label']
Y

1       -1.0
2       -1.0
3       -1.0
4       -1.0
5       -1.0
        ...
34996    1.0
34997   -1.0
34998   -1.0
34999   -1.0
35000   -1.0
Name: label, Length: 35000, dtype: float64

In [22]:
type(Y[1])

numpy.float64

In [23]:
test_X = ijcnn1_t_data_process.drop('label',axis=1)
test_X

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.000000,0.000292,-0.020372,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.000292,-0.020372,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-0.020372,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,0.016210
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.007305,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,0.016210,-0.027162
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002519,0.018198,-0.024526,0.012458,-0.016884,0.006842,0.005018,0.016210,-0.027162,0.026788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91697,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.026388,-0.007002,-0.004879,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167
91698,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.007002,-0.004879,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602
91699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-0.004879,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,0.010336
91700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.013100,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,0.010336,-0.018924
91701,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.004716,0.005754,0.027236,0.000835,-0.023436,0.008167,0.020602,0.010336,-0.018924,0.023989

In [33]:
# Now we test the Classifiy on the KNN balltree
# Parameter:
#  n_neighbors = 3
#  algorithm:balltree
#  leaf_sizeint, default=30
#  pint, default=2 ,it means we used the euclidean_distance

from sklearn.neighbors import KNeighborsClassifier

start=timeit.default_timer()
neigh = KNeighborsClassifier(n_neighbors=3,algorithm ='ball_tree')
neigh.fit(X, Y)
predict_result = neigh.predict(test_X)
stop=timeit.default_timer()
run_time = stop - start
print("run_time")
print(run_time)

run_time
42.94517040000028

In [34]:
run_Classifiy_time_balltree = stop - start
run_Classifiy_time_balltree

42.94517040000028

In [35]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report
y_true = ijcnn1_t_data_process['label'].values
y_pred = predict_result
accuracy_score(y_true, y_pred)  
# The accuracy

0.9653875094055681

In [36]:
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

        -1.0       0.97      0.99      0.98     82989
         1.0       0.91      0.71      0.79      8712

    accuracy                           0.97     91701
   macro avg       0.94      0.85      0.89     91701
weighted avg       0.96      0.97      0.96     91701

In [29]:
# Now we test the Classifiy on the KNN Kd-tree
# Parameter:
#  n_neighbors = 3
#  algorithm:kdtree
#  leaf_sizeint, default=30
#  pint, default=2 ,it means we used the euclidean_distance
from sklearn.neighbors import KNeighborsClassifier
start=timeit.default_timer()
neigh = KNeighborsClassifier(n_neighbors=3,algorithm ='kd_tree')
neigh.fit(X, Y)
predict_result = neigh.predict(test_X)
stop=timeit.default_timer()
run_Classifiy_time_kdtree = stop - start
print("run_Classifiy_time_kdtree")
print(run_Classifiy_time_kdtree)

run_Classifiy_time_kdtree
20.248711700000058

In [30]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report
y_true = ijcnn1_t_data_process['label'].values
y_pred = predict_result
accuracy_score(y_true, y_pred)  
# The accuracy

0.9653875094055681

In [32]:
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

        -1.0       0.97      0.99      0.98     82989
         1.0       0.91      0.71      0.79      8712

    accuracy                           0.97     91701
   macro avg       0.94      0.85      0.89     91701
weighted avg       0.96      0.97      0.96     91701

In [56]:
Classfy_time = {"run_Classifiy_time_kdtree":run_Classifiy_time_kdtree,"run_Classifiy_time_balltree":run_Classifiy_time_balltree}
Classfy_time

{'run_Classifiy_time_kdtree': 20.248711700000058,
 'run_Classifiy_time_balltree': 42.94517040000028}

In [57]:
Searchtime

{'run_search_time_KDtree': 0.0010052098799969826,
 'run_search_time_balltree': 0.001957292779999625}

In [58]:
result = pd.DataFrame(columns=['Classify time','Classify Accuracy','Search means time'])
result

Empty DataFrame
Columns: [Classify time, Classify Accuracy, Search means time]
Index: []

In [59]:
result.loc['balltree'] = [Classfy_time['run_Classifiy_time_balltree'],accuracy,Searchtime['run_search_time_balltree']]
result.loc['kdtree'] = [Classfy_time['run_Classifiy_time_kdtree'],accuracy,Searchtime['run_search_time_KDtree']]

balltree and Kdtree in IJCNN dataset

In [60]:
result

          Classify time  Classify Accuracy  Search means time
balltree      42.945170           0.965388           0.001957
kdtree        20.248712           0.965388           0.001005